* {
    box-sizing: border-box;
    user-select: none;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 
    This is your virtual world. 
    It is ALWAYS 1000x1000px.
    The JavaScript will move and scale it.
*/
.virtual-world {
    position: absolute;
    top: 0;
    left: 0;
    
    /* The dimensions of your internal coordinate system */
    width: 2000px;
    height: 2000px;
    
    /* This is critical for the math to work */
    transform-origin: top left;
}

#canvas-container {
    position: relative;
    width: 2000px; /* Should match CANVAS_WIDTH */
    height: 2000px; /* Should match CANVAS_HEIGHT */
}

#canvas-container canvas {
    position: absolute;
    top: 0;
    left: 0;
}
